section {
	width: 630px;
	background-color: #ffffff;
	padding: 20px;
	height: 420px;
	float: left;
}

input[type=text] {padding:5px; border:2px solid #ccc; 
-webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {border-color:#4aaaac; }

