body {
	margin: 0px;
	padding: 0px;
	width: auto;
	height: auto;
	background-color: #eee;
}

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
	background-color: #fff;
	border-bottom: #ccc solid 1px;
}

h1 {
	margin: 0px;
	padding: 10px 5px 10px 5px;
	color: #fff;
	text-align: center;
}

.nameContainer {
	background-color: #4aaaa5;
	width: 200px;
	margin-left: 10%;
}

section {
	margin-left: 10%;
	margin-top: 40px;

	background-color: #fff;
	padding: 20px;
	float: left;
	width: 600px;
}

h2 {
	padding-bottom: 20px;
	color: #4aaaa5;
	border-bottom: solid #ccc;
}

img {
	float: left;
}

p {
	color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: left;
}

nav {
	background-color: #4aaaa5;
	width: 200px;
}

nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}


nav li, nav a {
	display: inline;
	color: #fff;
}